@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,900&family=Oleo+Script+Swash+Caps&display=swap');


#character_name {
    text-align: center;
    font-family: 'Montserrat', sans-serif;

}

#avatar {
    margin: auto;
    width: 50%;
}

#comic_name {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}